@page "/"
@using Firebase.Auth
@using SBASeatingPlan.Components
@inject FirebaseAuthClient authClient
@inject NavigationManager navManager

@if (authClient.User != null)
{
    <div class="demo-wrap">
        <div class="demo-content">
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <MatBody1 class="mat-layout-grid-cell mat-layout-grid-cell-span-1-phone mat-layout-grid-cell-align-middle">DeadLine</MatBody1>
                    <MatDatePicker Style="margin:0" @bind-Value="DeadLine" ReadOnly="true" class="mat-layout-grid-cell mat-layout-grid-cell-span-3-phone" />
                    <MatButton OnClick="ApplyOnClick" Raised="true" Label="Apply" class="mat-layout-grid-cell mat-layout-grid-cell-span-2-phone"></MatButton>
                    <MatButton OnClick="ApplyOnClick" Raised="true" Label="Info" class="mat-layout-grid-cell mat-layout-grid-cell-span-2-phone"></MatButton>
@*                     <MatButton Raised="true" Label="More Details" class="mat-layout-grid-cell mat-layout-grid-cell-span-4-phone"></MatButton>
                    <MatButton Raised="true" Label="Contact Us..." class="mat-layout-grid-cell mat-layout-grid-cell-span-4-phone"></MatButton> *@
                </div>
            </div>
        </div>
    </div>
}
else
{
    <Login></Login>
}

@code {
    DateTime? DeadLine = new DateTime(2023, 7, 1, 23, 59, 59).ToLocalTime();

    void ApplyOnClick() => navManager.NavigateTo("/apply");
}
